    <footer>
      {{ partial "foot_custom.html" . }}
      {{ with .Site.Params.footer }}
      <hr/>
      {{ . | markdownify }}
      {{ end }}
    </footer>
    {{ range .Page.Params.scripts }}
     <script async src="{{ . }}" type="text/javascript"></script>
    {{ end }}
  </body>
</html>
